{{ ansible_managed | comment }}


####
http:
  routers:
    {% for router in traefik.groups +%}
    {% if traefik.debug -%}
    # https://{{ router.hostname }} -> {{ router.ip }}
    {% endif -%}
    {{ router.name | lower | replace(' ', '-')  }}:
      entryPoints:
        - "https"
      rule: "Host(`{{ router.hostname }}`)"
      middlewares:
        - https-redirectscheme
      tls: {}
      service: {{ router.name | lower | replace(' ', '-')  }}
    {% endfor +%}
  services:
    {% for service in traefik.groups +%}
    {% set port = service.traefik.port | default(80) -%}
    {% set protocol = service.traefik.protocol | default('http') -%}
    {% set address = service.traefik.address | default(service.ip) -%}
    {% set name = service.name | lower | replace(' ', '-')  %}
    {%- if traefik.debug -%}
    # [{{ name }}] :: {{ address }} ==> {{ protocol }}://{{ address }}:{{ port }}
    {% endif +%}
    {{ name }}:
      loadBalancer:
        servers:
          - url: "{{ protocol }}://{{ address }}:{{ port }}"
    {% endfor %}

  middlewares:
    https-redirectscheme:
      redirectScheme:
        scheme: https
