{{ ansible_managed | comment }}

# Search Domain
{% if dnsmasq.search -%}
local=/{{ dnsmasq.search }}./
{% endif %}

# Options
{% for option in dnsmasq.options -%}
{{ option }}
{% endfor %}

# Addresses
{% for record in dnsmasq.addresses -%}
address=/{{ record.name }}/{{ record.address }}
{% endfor %}

# Name Servers
{% for ns in dnsmasq.nameservers -%}
server={{ ns }}
{% endfor %}
